/* Header class */
.header {
    padding: 100px;
    text-align: center;
    background-image: url(../IDAssignment2/images/school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: auto;
    }